.body{
    max-width: 1170px;
}
.card{
    width: 300px;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}